# Xamarin.Forms
docs/xamarin-forms/ @davidbritch

# iOS & Mac
docs/ios/ @lobrien
docs/mac/ @lobrien

# Android
docs/android/ @conceptdev

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @conceptdev
docs/tools/ @conceptdev
docs/cross-platform/ @conceptdev
