# Xamarin.Forms
docs/xamarin-forms/ @davidbritch
docs/get-started/ @davidbritch
docs/whats-new/ @davidbritch

# iOS & Mac
docs/ios/ @davidortinau
docs/mac/ @davidortinau

# Android
docs/android/ @davidortinau

# Essentials
docs/essentials/ @jamesmontemagno

# Other stuff
docs/graphics-games/ @davidortinau
docs/tools/ @davidortinau
docs/cross-platform/ @davidortinau
